[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ansible = "*"


[packages]

django = "*"
djangorestframework = "*"
markdown = "*"
gunicorn = "*"


[requires]

python_version = "3.6"
